@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

h3,
h4 {
  margin-left: 2%;
}
.options {
  position: relative;
  padding-left: 2rem;
}
#options label {
  display: block;
  margin-bottom: 15px;
  font-size: 24px;
  cursor: pointer;
}
.options input {
  opacity: 0;
}
.checkmark {
  position: absolute;
  top: 7px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ddd;
  border: 1px solid #57c5b6;
  border-radius: 50%;
}
.options input:checked ~ .checkmark:after {
  display: block;
}
.options .checkmark:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark {
  background: #002b5b;
  transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark:after {
  transform: translate(-50%, -50%) scale(1);
}

#next-button {
  background-color: #0075ff;
  display: block;
  width: 30%;
  padding: 15px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  margin: 20px auto;
}

/* counter */
.timer-and-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.timer {
  font-size: 24px;
  font-weight: bold;
}

.count {
  font-size: 18px;
  font-weight: bold;
}

/* Styling for timer and question count */
.timer-and-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.timer {
  font-size: 2rem;
  font-weight: bold;
}

.count {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Styling for question and options */
.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.question h5 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.options {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.options input[type="radio"] {
  opacity: 0;
  cursor: pointer;
}

.options input[type="radio"]:checked + .checkmark {
  background-color: #57c5b6;
  border-color: #57c5b6;
}

/* Styling for next button */
#next-button {
  background-color: #57c5b6;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.8rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
}

#next-button:hover {
  background-color: #57c5b6;
}
#question-text {
  font-size: 27px;
}
